{% extends '::base.html.twig' %}

{% block metaTitle %}
  All tickets - {{ parent() }}
{% endblock %}

{% block title %}Viewing all tickets{% endblock %}

{% block content %}
  {% if message %}
    <div class="row">
      <div class="columns large-6 small-12 small-centered">
        <div class="panel callout radius"><h5>{{ message }}</h5></div>
      </div>
    </div>
  {% endif %}

  {% for ticket in tickets %}
    <div class="row">
      <div class="columns small-12">
        <h2>{{ ticket.title }}</h2>
        <div><span class="radius secondary label">{{ ticket.created_at }}</span></div>
        <p><a href="{{ path('djebbz_ticket_ticket', { 'slug': ticket.id }) }}">View ticket</a></p>
      </div>
    </div>
  {% endfor %}
{% endblock %}